* {
  font-family: "Pixelify Sans", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/grass_background_2.gif");
}

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./assets/grass_background.gif");
}

.input-shadow {
  box-shadow: 0px 4px 4px 0px #00000040;
}


/* Put this at the very bottom of the file */
@import "tailwindcss"
